{
  "extends": [
    "airbnb"
  ],
  "parserOptions": {
    "ecmaVersion": 2016,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parser": "babel-eslint",
  "rules": {
    "import/no-extraneous-dependencies": 0,
    "no-console": 0,
    "react/jsx-filename-extension": 0
  }
}
